/* @import url("https://fonts.googleapis.com/css?family=Noto+Serif+SC"); */
/* @font-face {
  font-family: "Nota Serif SC";
  src: url("/fonts/NotoSerifSC-Regular") format("otf");
  font-weight: normal;
  font-style: normal;
}
.radical {
  font-family: "Noto Serif SC", serif;
} */
